body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: lightblue;
}

code{
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
	monospace;
}

.App {
	display: none;	
	background-color: #ffff;
	max-width: 29px;
	margin: auto;
}

.card-container {
	margin:auto;
	display: -webkit-flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.cardFood-container {
	display: inline-block;
	text-align: center;
}

.food-image {
	width: 250px;
	height: 250px;
	background-size: cover;

}

.landing-Page{
	margin-top: 20%;
	height: 100vh;
	display:flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
}

.landing-buttons{
	margin-top: 20%;
	display:flex;
	flex-direction: column;
	align-content: center;

}
.lnding-btn{
	margin: 1em;
}

.order-page-content{
	height: 100vh;
	display:flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;

}

.buttons-order{
	display:flex;
	justify-content: center;
	



}

.comanda-container {
	background-color: #ffff;
	justify-content: space-around;
}

/*Admin component */
.addproduct-form{
	height: 100vh;
	display:flex;
	justify-content: center;
	align-content: center;
	align-items: center;

	

}
.kitchen-orders {
	display: flex;
	flex-direction: column;
}

